---
import { getCollection } from 'astro:content';
import InnerLayout from '../../layouts/InnerLayout.astro';
import Likes from '@components/Likes.astro';
import { db, sql, Like, eq } from 'astro:db';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const [{ count }] = await db
  .select({ count: sql<number>`count(*)` })
  .from(Like)
  .where(eq(Like.slug, entry.slug));

const { Content } = await entry.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<InnerLayout
  subtitle={entry.data.subtitle}
  meta={{
    title: entry.data.title,
    description: entry.data.description,
    image: entry.data.image,
    canonicalURL: canonicalURL.href,
  }}
>
  <article
    class="region wrapper flow prose overflow-clip"
    data-article="true"
    style="--measure: 85ch"
    id="main"
  >
    <Content />
    <div
      class="flex flow flow-space-2xs flex-col justify-center items-center mt-s max-w-[50ch]"
    >
      <p class="font-display font-bold">Helpful?</p>
      <Likes count={count} slug={entry.slug} />
    </div>
  </article>
</InnerLayout>

<script>
  // Grab button
  const likeButton = document.getElementById('like-button');
  // Grab the slug from the button's data attribute
  const slug = likeButton?.getAttribute('data-slug');

  // If button is clicked, send a POST request to the server
  likeButton?.addEventListener('click', async (e) => {
    e.preventDefault();
    try {
      const response = await fetch(`/api/like-post/${slug}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ slug: '{{ slug }}' }),
      });
      // const response = await fetch(`/api/like-post/${slug}/`, {
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json',
      //   },
      //   body: JSON.stringify({ slug: '{{ slug }}' }),
      // });
      // if (response.ok) {
      //   const { message, count } = await response.json();
      //   console.log(message, count);
      // }
    } catch (error) {
      console.error(error);
    }
  });
</script>
