---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import type { Props as HeadProps } from '@components/Head.astro'

import ADSPhoneBanner from '@components/ADSPhoneBanner.astro'
import AboutMe from '@components/AboutMe.astro'

type Props = HeadProps

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)
const latestPosts = allPosts.slice(0, 2)

/**
 * Truncates the description to 24 words
 * @param description - The description to truncate
 * @returns The truncated description
 */

function truncateDescription(description: string) {
  const words = description.split(' ')
  if (words.length <= 24) {
    return description
  } else {
    const truncatedWords = words.slice(0, 24)
    return truncatedWords.join(' ') + '...'
  }
}
---

<Layout
  meta={{
    title: 'Frank Stallone | Sharing 25 years of working on the web',
    description:
      'For the last two decades, I have helped businesses of all sizes craft compelling user experiences that drove 100M+ in revenue.',
  }}
>
  <section class="region flow md:pt-zero md:-mt-s" id="main">
    <div class="animate-in flow wrapper">
      <div
        class="flex flex-col space-y-xs md:space-y-zero md:grid md:grid-recent mb-m md:gutter-m"
        id="recent-posts"
      >
        <h2
          class="md:text-center section-header text-gray-1200 bg-gray-400 rounded-md"
        >
          Recent posts
        </h2>
        {
          latestPosts.map((post) => (
            <div class="box flow prose border-solid border-b-2 border-x-0 border-t-0 border-gray-700 text-gray-1200 bg-gray-400 rounded-md">
              <h3 class="mt-zero">
                <a
                  href={`/${post.collection}/${post.id}/`}
                  transition:name={'blog' + post.data.title}
                >
                  {post.data.title}
                </a>
              </h3>
              <p class="mt-2xs">
                <small class="uppercase text-step-000 font-medium font-mono tracking-wide text-gray-900">
                  {new Date(post.data.publishDate).toLocaleDateString(
                    undefined,
                    {
                      weekday: 'long',
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric',
                    }
                  )}
                </small>
              </p>
              <p>{truncateDescription(post.data.description)}</p>
              <p class="pb-l">
                <a href={`/${post.collection}/${post.id}/`}>
                  Read more &hellip;
                </a>
              </p>
            </div>
          ))
        }
      </div>

      <aside
        class="uppercase font-mono font-medium text-step-000 text-gray-900 text-center"
      >
        <span>
          <a href="/blog/">All posts</a>
        </span>
      </aside>
    </div>
  </section>
  <AboutMe />
  <div class="region flow bg-gray-100">
    <div class="wrapper flow flow-space-xl">
      <ADSPhoneBanner />
      <video
        preload="metadata"
        autoplay
        loop
        muted
        playsinline
        class="min-w-zero max-w-full md:row-start-3 md:row-span-2 md:col-span-8 md:col-start-1 rounded-md"
      >
        <source
          src="/media/klaviyo/klaviyo-phone-input-cover-web.webm"
          type="video/webm"
        />
        <source
          src="/media/klaviyo/klaviyo-phone-input-cover-web.mp4"
          type="video/mp4"
        />
      </video>
      <aside
        class="uppercase font-mono font-medium text-step-000 text-gray-1100 text-right"
      >
        <span class="mx-auto">
          1 of 5 <a href="/portfolio/">See full portfolio</a>
        </span>
      </aside>
    </div>
  </div>
</Layout>
