---
import { Picture } from 'astro:assets';
import btcSquared01 from '../assets/squared/btc-squared-01@2x.png';
import btcSquared02 from '../assets/squared/btc-squared-02@2x.png';
import btcSquared03 from '../assets/squared/btc-squared-03@2x.png';
import btcSquared04 from '../assets/squared/btc-squared-04@2x.png';
---

<article
  class="flex flex-col md:grid"
  style="--gutter: var(--space-xs);"
  data-layout="sevenths"
>
  <div
    aria-hidden="true"
    style="background-color: rgb(255 248 213);"
    class="rounded-full hidden md:block aspect-square md:row-start-1 md:col-start-4"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(251 218 115);"
    class="rounded-full hidden md:block aspect-square md:row-start-3 md:row-span-1 md:col-start-5 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(232 184 10);"
    class="rounded-full hidden md:block aspect-square md:row-start-4 md:row-span-1 md:col-start-5 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(196 152 27);"
    class="rounded-full hidden md:block aspect-square md:row-start-5 md:row-span-1 md:col-start-7 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(171 120 30);"
    class="rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-7 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(143 94 26);"
    class="rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-4 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(122 70 21);"
    class="rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-3 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(104 46 12);"
    class="rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-2 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(78 26 5);"
    class="rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-1 md:col-span-1"
  >
  </div>
  <Picture
    src={btcSquared01}
    widths={[500, 700, 1400]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, (max-width: 1600px) 1400px, ${btcSquared01.width}px`}
    class="object-cover h-auto md:row-start-2 md:row-span-4 md:col-start-1 md:col-span-4"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-2 md:row-span-4 md:col-start-1 md:col-span-4',
    }}
    alt="Initial sketches of the chosen logo for Builders Trust Capital showing the intentions for the three pilars"
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={btcSquared02}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${btcSquared02.width}px`}
    alt="Screenshot of the home page design for Builders Trust Capital"
    class="object-cover h-auto md:row-start-3 md:row-span-2 md:col-start-6 md:col-span-2"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-3 md:row-span-2 md:col-start-6 md:col-span-2',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={btcSquared03}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${btcSquared03.width}px`}
    alt="Screenshot of the presentation for the new Builders Trust Capital logo in context on a sign and business cards"
    class="object-cover h-auto md:row-start-5 md:row-span-2 md:col-start-5 md:col-span-2"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-5 md:row-span-2 md:col-start-5 md:col-span-2',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={btcSquared04}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${btcSquared04.width}px`}
    alt="Logo presentation of the Builders Trust Capital mark and logo type"
    class="object-cover h-auto md:row-start-1 md:row-span-2 md:col-start-5 md:col-span-2"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-1 md:row-span-2 md:col-start-5 md:col-span-2',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
</article>
