---
import { Picture } from 'astro:assets'
import rollSquared01 from '@assets/squared/roll-squared-01@2x.png'
import rollSquared02 from '@assets/squared/roll-squared-02@2x.png'
import rollSquared03 from '@assets/squared/roll-squared-03@2x.png'
import rollSquared04 from '@assets/squared/roll-squared-04@2x.png'
---

<article
  class="flex flex-col gap-l md:grid"
  style="--gutter: var(--space-xs);"
  data-layout="sevenths"
>
  <div
    aria-hidden="true"
    style="background-color: rgb(211 246 254);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-1 md:col-start-4"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(170 224 251);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-3 md:row-span-1 md:col-start-5 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(134 194 241);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-4 md:row-span-1 md:col-start-5 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(93 162 235);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-5 md:row-span-1 md:col-start-7 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(66 131 226);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-7 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(46 102 216);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-4 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(18 74 207);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-3 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(5 51 181);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-2 md:col-span-1"
  >
  </div>
  <div
    aria-hidden="true"
    style="background-color: rgb(5 39 133);"
    class="animate-in rounded-full hidden md:block aspect-square md:row-start-6 md:row-span-1 md:col-start-1 md:col-span-1"
  >
  </div>
  <Picture
    src={rollSquared01}
    widths={[500, 700, 1400]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, (max-width: 1600px) 1400px,  ${rollSquared01.width}px`}
    class="object-cover h-auto md:row-start-2 md:row-span-4 md:col-start-1 md:col-span-4 rounded-md"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-2 md:row-span-4 md:col-start-1 md:col-span-4 rounded-md',
    }}
    alt="Mock up of Apple iPhones with Roll by ADP app views"
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={rollSquared02}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${rollSquared02.width}px`}
    alt="Screenshot of VSCode showing the design tokens repository for Roll by ADP"
    class="object-cover h-auto md:row-start-3 md:row-span-2 md:col-start-6 md:col-span-2 rounded-md"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-3 md:row-span-2 md:col-start-6 md:col-span-2 rounded-md',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={rollSquared03}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${rollSquared03.width}px`}
    alt="Screenshot of the payroll run conversation UI showcasing the components design and created for our clients"
    class="object-cover h-auto md:row-start-5 md:row-span-2 md:col-start-5 md:col-span-2 rounded-md"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-5 md:row-span-2 md:col-start-5 md:col-span-2 rounded-md',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
  <Picture
    src={rollSquared04}
    widths={[500, 700]}
    sizes={`(max-width: 360px) 500px, (max-width: 720px) 700px, ${rollSquared04.width}px`}
    alt="Screenshots of the mock up in design tool highlighting sections and descripting intention"
    class="object-cover h-auto md:row-start-1 md:row-span-2 md:col-start-5 md:col-span-2 rounded-md"
    pictureAttributes={{
      class:
        'object-cover h-auto md:row-start-1 md:row-span-2 md:col-start-5 md:col-span-2 rounded-md',
    }}
    quality={80}
    formats={['avif', 'webp']}
  />
</article>
