---
import ProductLayout from '../../layouts/ProductLayout.astro';
import { Picture } from 'astro:assets';
import FAQ from '../../components/FAQ.astro';

import research from '../../assets/content-compass/research-for-small-business-lead-generation.png';
import organize from '../../assets/content-compass/content-templates-and-dashboard.png';
// import more from '../../assets/content-compass/getting-started-small-business-lead-generation.png';
import keyphrase from '../../assets/content-compass/keyphrases-for-small-business-lead-generation.png';
import schedule from '../../assets/content-compass/small-business-content-calendar.png';
import create from '../../assets/content-compass/write-compelling-content-for-small-business-lead-generation.png';
import compass from '../../assets/content-compass/small-business-lead-generation-dashboard.png';

const faqQuestions = [
  {
    question: 'Do I need to pay for Notion?',
    answer:
      'No! Notion has a free tier you can use this with. They have premium offerings but their free tier is generous.',
  },
  {
    question: 'What is long form content?',
    answer:
      'Long form content is content like a blog article, newsletter or landing page. The long form content template is designed to help you research, write, and schedule.',
  },
  {
    question: 'What is short form content?',
    answer:
      'Short form content is content like a LinkedIn, Instagram, Facebook, X (formally known as Twitter), Mastadon, or Threads post.',
  },
  {
    question: 'Refunds?',
    answer: 'Due to the unqiue nature of this product, there are no refunds.',
  },
];
---

<ProductLayout
  subtitle="A centralized workspace for small businesses to research, create, organize and schedule content for lead generation."
  meta={{
    title: 'Lead generation for small businesses',
    description: 'The design and development portfolio of Frank Stallone',
    canonicalURL: `https://frankstall.one/products/lead-generation-for-small-business`,
  }}
>
  <div class="switcher bg-gray-200">
    <div class="box flow prose m-auto bg-transparent">
      <hgroup class="flow prose">
        <h2 class="uppercase">Content compass</h2>
        <h3>A framework to get more leads for your small business.</h3>
      </hgroup>
      <div style="position: relative; padding-bottom: 56.25%; height: 0;">
        <iframe
          src="https://www.loom.com/embed/4e859ce972114ed0b986cc6d995ec2a8?sid=eeb1189d-6f21-4c69-8df8-76d32c239a5b?hide_owner=true&hide_share=true&hide_title=true&hideEmbedTopBar=true"
          allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
        ></iframe>
      </div>
      <h4>
        Are you a small business owner that creates content online? Do you have
        in house or freelance creators that all use different tools? Does you or
        your team have a hard time keeping track of your content?
      </h4>
      <p>
        The Content compass is a framework and Notion template for small
        businesses to gain more customers.
      </p>
      <p>
        <a
          href="https://buy.stripe.com/cN2bLT3tm5cT2HK288"
          class="button text-indigo-100 block">Buy now for $5.00</a
        >
      </p>
    </div>
    <Picture
      src={compass}
      widths={[500, 700, 1400]}
      class="object-cover h-auto"
      alt="Screenshot of the Content compass Notion template for small business lead generation"
      quality={80}
      format="avif"
    />
  </div>
  <section class="wrapper flow" id="main">
    <div class="region flow flow-space-l">
      <div
        class="flow w-fit prose border-solid border-b-2 border-x-0 border-t-0 border-gray-700"
      >
        <h2 class="mt-zero">Research</h2>
        <p class="pb-l">
          Find high ranking examples reference websites. List the keyphrases you
          want to rank for. Collect links to supporting articles, blog posts,
          social media, and quotes for inspiration.
        </p>
      </div>
      <Picture
        src={keyphrase}
        widths={[500, 700, 1400]}
        class="object-cover h-auto"
        alt="Screnshot of the Notion template for small business lead generation keyphrase research"
        quality={80}
        format="avif"
      />
      <Picture
        src={research}
        widths={[500, 700, 1400]}
        class="object-cover h-auto"
        alt="Screnshot of the Notion template for small business lead generation research"
        quality={80}
        format="avif"
      />
    </div>
    <div class="region flow flow-space-l">
      <div
        class="flow w-fit prose border-solid border-b-2 border-x-0 border-t-0 border-gray-700"
      >
        <h2 class="mt-zero">Create</h2>
        <p class="pb-l">
          Write your long and short form content in a single space. Ensure your
          voice and tone are properly heard. Allow collaborators to comment, and
          recommend changes.
        </p>
      </div>
      <Picture
        src={create}
        widths={[500, 700, 1400]}
        class="object-cover h-auto"
        alt="Screenshot of the Content compass Notion template content creation for small business lead generation"
        quality={80}
        format="avif"
      />
    </div>
    <div class="region flow flow-space-l">
      <div
        class="flow w-fit prose border-solid border-b-2 border-x-0 border-t-0 border-gray-700"
      >
        <h2 class="mt-zero">Organize</h2>
        <p class="pb-l">
          Bring order to all your content. Connect short content to the long
          content it’s related to for quick access when you need it most.
        </p>
      </div>
      <Picture
        src={organize}
        widths={[500, 700, 1400]}
        class="object-cover h-auto"
        alt="Screenshot of the Content compass Notion template content orgnization for small business lead generation"
        quality={80}
        format="avif"
      />
    </div>
    <div class="region flow flow-space-l">
      <div
        class="flow w-fit prose border-solid border-b-2 border-x-0 border-t-0 border-gray-700"
      >
        <h2 class="mt-zero">Schedule</h2>
        <p class="pb-l">
          Finally you can relax knowing you're ahead of the game seeing all your
          content on your calendar. Rearrange with ease. Go back in time to
          easily find and repurpose prior work.
        </p>
      </div>
      <Picture
        src={schedule}
        widths={[500, 700, 1400]}
        class="object-cover h-auto"
        alt="Screenshot of the Content compass Notion template content scheduling for small business lead generation"
        quality={80}
        format="avif"
      />
    </div>
  </section>
  <section class="wrapper bg-gray-200">
    <div class="region flow flow-space-l">
      <div class="box flow bg-transparent">
        <h2 class="text-center mx-auto mb-m-l">
          Get more leads by focusing with proven methods laid out in a simple
          dashboard.
        </h2>
        <a
          href="https://buy.stripe.com/cN2bLT3tm5cT2HK288"
          class="button text-indigo-100 block"
          >Buy the Content compass template for $5.00</a
        >
      </div>
    </div>
  </section>
  <section class="wrapper">
    <div class="region flow flow-space-l">
      <div class="center flow flow-space-s">
        <h2 class="mt-zero">FAQ</h2>
        {
          faqQuestions.map((faq, idx) => (
            <FAQ idx={idx} question={faq.question} answer={faq.answer} />
          ))
        }
      </div>
    </div>
  </section>
</ProductLayout>
