---
import InnerLayout from '../../layouts/InnerLayout.astro';
import { Picture } from 'astro:assets';

import btcSquared01 from '../../assets/squared/btc-squared-01@2x.png';
import btcSquared02 from '../../assets/squared/btc-squared-02@2x.png';
import btcSquared03 from '../../assets/squared/btc-squared-03@2x.png';
import btcSquared04 from '../../assets/squared/btc-squared-04@2x.png';

import njcSquared01 from '../../assets/squared/njc-squared-01@2x.png';
import njcSquared02 from '../../assets/squared/njc-squared-02@2x.png';
import njcSquared03 from '../../assets/squared/njc-squared-03@2x.png';
import njcSquared04 from '../../assets/squared/njc-squared-04@2x.png';

import bracketsSquared01 from '../../assets/squared/brackets-squared-01@2x.png';
import bracketsSquared02 from '../../assets/squared/brackets-squared-02@2x.png';
import bracketsSquared03 from '../../assets/squared/brackets-squared-03@2x.png';
import bracketsSquared04 from '../../assets/squared/brackets-squared-04@2x.png';

import savaniSquared01 from '../../assets/squared/savani-squared-01@2x.png';
import savaniSquared02 from '../../assets/squared/savani-squared-02@2x.png';
import savaniSquared03 from '../../assets/squared/savani-squared-03@2x.png';
import savaniSquared04 from '../../assets/squared/savani-squared-04@2x.png';
import RollPortfolioGrid from '../../components/RollPortfolioGrid.astro';
import BTCPortfolioGrid from '../../components/BTCPortfolioGrid.astro';
---

<InnerLayout
  subtitle="A few creations from my archives"
  meta={{
    title: 'Portfolio of Frank Stallone',
    description: 'The design and development portfolio of Frank Stallone',
    canonicalURL: `https://frankstall.one/portfolio/`,
  }}
>
  <section class="region wrapper flow" id="main">
    <div class="flow flow-space-l">
      <div
        class="box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-200 border-blue-700"
      >
        <hgroup>
          <h3 class="uppercase mt-zero">
            <a href="/portfolio/roll-by-adp/">Roll</a>
          </h3>
          <p class="font-medium text-step-1 mt-zero">
            UX, UI, Product design, Design systems
          </p>
        </hgroup>
        <p>
          Created a new way to run payroll, and manage small business owner's <abbr
            title="Human Capital Management">HCM</abbr
          > needs on the go, with a mobile first approach. From concept to customer.
        </p>
      </div>

      <RollPortfolioGrid />
    </div>
    <div class="flow flow-space-l region">
      <div
        class="box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-orange-vivid-800 bg-orange-200 border-orange-700"
      >
        <hgroup>
          <h3 class="uppercase mt-zero">
            <a href="/portfolio/btc/">Builders Trust Capital</a>
          </h3>
          <p class="font-medium text-step-1 mt-zero">
            Brand transformation, logo, name
          </p>
        </hgroup>
        <p>
          Created a sophisticated brand that appealed to their entrepreneur
          clientele, and resonated with their core values of trust, stability,
          and transparency.
        </p>
      </div>
      <BTCPortfolioGrid />
    </div>
    <div class="flow flow-space-l region">
      <div
        class="box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-gray-1200 bg-gray-400 border-gray-700"
      >
        <hgroup>
          <h3 class="uppercase mt-zero">NJ Stone Supply &amp; Tree Service</h3>
          <p class="font-medium text-step-1 mt-zero">Logo</p>
        </hgroup>
        <p>
          Designed a logo mark and logo type that speaks equally to Noah's
          audience as it does Noah's work.
        </p>
      </div>
      <article class="grid" style="--grid-min-item-size: 250px">
        <Picture
          src={njcSquared01}
          widths={[500, 700, 1400]}
          class="object-cover h-auto"
          alt="The logo mark for Noah James Curtis Stone Supply & Tree Service"
          quality={80}
          format="avif"
        />
        <Picture
          src={njcSquared02}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="The typeface and colors chosen for the branding of Noah James Curtis Stone Supply & Tree Service"
          quality={80}
          format="avif"
        />
        <Picture
          src={njcSquared03}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="Screenshot of the grid used for one of the Noah James Curtis Stone Supply logos with type"
          quality={80}
          format="avif"
        />
        <Picture
          src={njcSquared04}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="One of the variations of the NJC Stone Supply & Tree Service with logo mark and type logo"
          quality={80}
          format="avif"
        />
      </article>
    </div>
    <div class="flow flow-space-l region">
      <div
        class="box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-gray-1200 bg-gray-400 border-gray-700"
      >
        <hgroup>
          <h3 class="uppercase mt-zero">Brackets podcast</h3>
          <p class="font-medium text-step-1 mt-zero">Co-host, Logo, Branding</p>
        </hgroup>
        <p>
          Co-created a technology podcast that aired for 5 years and served as
          the pulse of tech within ADP.
        </p>
      </div>
      <article class="grid" style="--grid-min-item-size: 250px">
        <Picture
          src={bracketsSquared01}
          widths={[500, 700, 1400]}
          class="object-cover h-auto"
          alt="The original logo mark and type logo for ADP's Developer Community Brackets Podcast"
          quality={80}
          format="avif"
        />
        <Picture
          src={bracketsSquared02}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="The original logo mark for ADP's Developer Community Brackets Podcast"
          quality={80}
          format="avif"
        />
        <Picture
          src={bracketsSquared03}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="Play on the ADP's Developer Community Brackets Podcast logo"
          quality={80}
          format="avif"
        />
        <Picture
          src={bracketsSquared04}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="Another spin of the design of the ADP's Developer Community Brackets Podcast logo"
          quality={80}
          format="avif"
        />
      </article>
    </div>
    <div class="flow flow-space-l region">
      <div
        class="box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-gray-1200 bg-gray-400 border-gray-700"
      >
        <hgroup>
          <h3 class="uppercase mt-zero">Savani</h3>
          <p class="font-medium text-step-1 mt-zero">Logo, Branding</p>
        </hgroup>
        <p>
          Brought a niche Volkswagen parts company closer to it's audience with
          new branding.
        </p>
      </div>
      <article class="grid" style="--grid-min-item-size: 250px">
        <Picture
          src={savaniSquared01}
          widths={[500, 700, 1400]}
          class="object-cover h-auto"
          alt="The original logo mark for Savani Auto Parts"
          quality={80}
          format="avif"
        />
        <Picture
          src={savaniSquared02}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="The type logo for Savani Auto Parts"
          quality={80}
          format="avif"
        />
        <Picture
          src={savaniSquared03}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="The logo mark and type logo for Savani Auto Parts"
          quality={80}
          format="avif"
        />
        <Picture
          src={savaniSquared04}
          widths={[500, 700]}
          class="object-cover h-auto"
          alt="A t-shirt with the Savani Auto Parts logo mark and type logo"
          quality={80}
          format="avif"
        />
      </article>
    </div>
  </section>
</InnerLayout>
