---
import InnerLayout from '../../layouts/InnerLayout.astro'
import { Picture } from 'astro:assets'

import amazonSign from '@assets//loumarc/amazon-building-custom-sign.jpg'
import styleguide from '@assets//loumarc/loumac-brand-styleguide-screenshot.png'
import LoumarcGrid from '@components/LoumarcGrid.astro'
import archetype from '@assets//loumarc/archetype-squared.png'
import brandPersona from '@assets//loumarc/brand-guide-brand-persona.png'
import brandContext from '@assets//loumarc/logo-option-in-context.jpg'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<InnerLayout
  subtitle="After 30 years in business, Loumarc Signs needed a complete brand refresh to attract a new generation of custom sign buyers."
  meta={{
    title: 'Loumarc Signs',
    description:
      'Case study of Loumarc Signs from the portfolio of Frank Stallone',
    canonicalURL: canonicalURL.href,
    image: `/media/portfolio/ls-og-image.png`,
  }}
>
  <section class="flow" id="main">
    <div class="region">
      <div class="wrapper grid" data-layout="twelfths">
        <div
          class="row-start-1 row-span-5 col-span-12 md:col-span-7 md:col-start-1 lg:col-span-6 lg:col-start-1 box flow flow-space-xs border-solid border-b-2 border-x-0 border-t-0 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 z-10 rounded-md"
        >
          <h2 class="mt-zero">The Challenge</h2>
          <p>
            When Loumarc Signs approached me, I faced an exciting yet daunting
            challenge: help a brand with 30 years of craft redefine its
            identity. The company had evolved from humble beginnings into a
            high-end custom sign company, but their brand image hadn't kept pace
            with their growth. My task was to elevate their image to align with
            their changing clientele and improved product and service offerings,
            while also increasing year-over-year revenue.
          </p>
          <p>
            The core of the challenge lay in uncovering who Loumarc Signs had
            become over three decades, understanding their current customers'
            perceptions, and envisioning who they aspired to be in the future.
            This wasn't just a visual makeover &mdash; it was about crafting a
            comprehensive brand strategy that would resonate with their upscale
            market positioning.
          </p>
        </div>
        <Picture
          src={amazonSign}
          widths={[300, 800, 2000, amazonSign.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${amazonSign.width}px`}
          pictureAttributes={{
            class:
              'object-contain h-full w-full row-span-6 md:row-start-2 md:row-span-6 col-span-12 md:col-span-8 md:col-start-6 rounded-md',
          }}
          class={'object-contain h-full w-full row-span-6 md:row-start-2 md:row-span-6 col-span-12 md:col-span-8 md:col-start-6 rounded-md'}
          alt="High quality custom sign for Amazon distribution center"
          formats={['avif', 'webp']}
          loading="lazy"
        />
      </div>
    </div>
    <div
      class="region wrapper flex flex-col flow md:grid"
      data-layout="twelfths"
    >
      <div
        class="md:row-start-1 md:row-span-4 md:col-span-8 md:col-start-4 box flow flow-space-xs w-fit border-solid border-b-2 border-x-0 border-t-0 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 z-10 rounded-md"
      >
        <h2 class="mt-zero">Discovery and Collaboration</h2>
        <p>
          I kicked off with an in-depth conversation with the owner, discussing
          business goals and defining metrics for success. This initial dialogue
          was crucial in setting the stage for our rebranding journey and
          agreeing on the right level of engagement.
        </p>
        <p>
          Armed with a whiteboard, Keynote presentation workbook, post-it notes,
          and markers, I convened a diverse group of stakeholders in the
          company's boardroom. This group included long-standing associates
          crucial to the company's success and those with fresh perspectives to
          share.
        </p>
        <p>Our discovery workshop was divided into three distinct sections:</p>
        <ol class="flow">
          <li>Brand Substance</li>
          <li>Brand Position</li>
          <li>Brand Expression</li>
        </ol>
        <p>
          We dove into exercises to understand their audience, competitors, and
          the overall landscape of the custom sign world. We went deeper,
          gaining clarity on Loumarc Signs' identity, their ideal audience,
          their reason for existence aside from making money, and their key
          differentiators.
        </p>
        <p>
          The brand substance and position sections are intended for their
          internal team – defining who they are, their audience, competition,
          and unique selling points. This foundational work allowed us to create
          a brand persona, including voice and tone, and story framework. The
          brand expression section then guided all external communications.
        </p>
      </div>
      <Picture
        src={styleguide}
        widths={[300, 800, 2000, styleguide.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${styleguide.width}px`}
        pictureAttributes={{
          class:
            'object-contain h-full w-full row-start-1 md:row-start-1 md:row-span-4 md:col-start-1 md:col-span-12 rounded-md',
        }}
        class={'object-contain h-full w-full row-start-1 md:row-start-1 md:row-span-4 md:col-start-1 md:col-span-12 rounded-md'}
        alt="Styleguide for Loumarc Signs brand"
        formats={['avif', 'webp']}
        loading="lazy"
      />
    </div>
    <div class="region bg-magenta-1000">
      <div class="wrapper grid" data-layout="twelfths">
        <div
          class="row-start-1 col-start-1 row-span-12 col-span-12 md:row-start-1 md:row-span-2 md:col-start-1 md:col-span-6 box flow flow-space-xs border-solid border-b-2 border-x-0 border-t-0 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 rounded-md"
        >
          <h2 class="mt-zero">Brand Summary and Logo Design</h2>
          <p>
            Armed with days' worth of workshop outcomes, I prepared a concise
            brand strategy summary for the team. This document served as our
            North Star as we moved into the creative phase.
          </p>
          <p>
            I began by sourcing logo designers whose work reflected
            characteristics that would resonate with the new brand. We embarked
            on creating a new logo mark and wordmark that would encapsulate
            Loumarc Signs' elevated status.
          </p>
          <p>
            The logo design process was iterative and collaborative. After weeks
            of refining sketches, virtual critiques, and revisiting our workshop
            results, we narrowed it down to four standout logos. We paired these
            with carefully selected typefaces, creating unique wordmarks with
            modified letter forms to resonate with its logo mark.
            Simultaneously, we conducted a color study and collaborated with the
            client to develop a new color palette that reflected their upscale
            positioning.
          </p>
        </div>
        <div
          class="row-start-13 col-start-1 row-span-12 col-span-12 md:row-start-1 md:row-span-2 md:col-start-7 md:col-span-7 box flow flow-space-xs w-fit border-solid border-b-2 border-x-0 border-t-0 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 rounded-md"
        >
          <p class="mt-zero">
            The logo presentation was a meticulously planned event. I gathered
            the same panel of stakeholders and began by discussing what makes
            iconic logos effective, reviewed our objectives, and presented the
            current state of their brand. Then, I unveiled the new logos and
            wordmarks.
          </p>
          <p>
            Each logo mark was presented in different variations, in black and
            white, with explanations of their unique qualities and how they
            aligned with the brand and audience. We also showcased each logo in
            different real-world applications to help stakeholders visualize
            their impact.
          </p>
          <p>
            The presentation was met with enthusiasm. As I walked the room
            through each slide, articulating our design decisions, I could hear
            positive reactions from the team. I maintained objectivity
            throughout, carefully explaining the merits of each option without
            showing favoritism, even when answering questions. The final
            decision was a collaborative effort, with the team reaching a
            consensus after thoughtful discussion and debate.
          </p>
        </div>
      </div>
    </div>
    <div class="region wrapper">
      <LoumarcGrid />
    </div>
    <div class="region wrapper">
      <div class="flex flex-col flow md:grid" data-layout="twelfths">
        <div
          class="md:row-start-1 md:row-span-12 md:col-start-1 md:col-span-6 box flow flow-space-xs w-fit z-10 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 border-solid border-b-2 border-x-0 border-t-0 rounded-md"
        >
          <h2 class="mt-zero">The Result</h2>
          <p>
            Throughout the logo design process, I was simultaneously crafting a
            comprehensive brand guide. This document distilled the outcomes of
            our workshop into a blueprint for decision-making across the
            organization. It covered everything from aligning business decisions
            with their purpose, vision, values, and mission, to writing
            marketing materials using their brand persona voice and tone.
          </p>
          <p>
            With the new brand identity in place, we moved on to creating
            tangible assets:
          </p>
          <ol class="flow">
            <li>
              <strong>Business Cards</strong>: We designed and printed
              high-quality business cards that embodied their new upscale
              branding.
            </li>
            <li>
              <strong>Website</strong>: I <a
                href="https://loumarcsigns.com/"
                target="_blank">designed and developed a new website</a
              > using a modern web framework and headless CMS, perfectly aligned
              with their new direction. The page layouts were optimized for comprehensive
              SEO techniques and conversion.
            </li>
            <li>
              <strong>Content Strategy</strong>: Working with a specialist, we
              conducted a deep keyphrase analysis, providing Loumarc Signs with
              an endless well of organic content marketing material.
            </li>
            <li>
              <strong>AI-Assisted Content Creation</strong>: Leveraging the
              emerging field of GenAI, I used the brand guide to construct
              prompts for ChatGPT and other AI tools. This innovative approach
              to content creation, guided by our well-articulated brand
              strategy, yielded impressive results.
            </li>
            <li>
              <strong>Social Media and Content Machine</strong>: I created
              documentation, video tutorials, and trained a social marketing
              team to use the keyphrase analysis in a content machine, a Notion
              workspace for organizing and collaborating on short and long-form
              content creation.
            </li>
          </ol>
          <p>
            After six months of intense collaboration, design, development, and
            implementation, the new Loumarc Signs brand came to life. We
            meticulously updated all their online properties to ensure
            consistent brand representation across all touchpoints.
          </p>
        </div>
        <Picture
          src={brandPersona}
          widths={[300, 800, brandPersona.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, ${brandPersona.width}px`}
          pictureAttributes={{
            class:
              'object-contain w-full h-full md:row-start-1 md:row-span-6 md:col-start-7 md:col-span-6 rounded-md',
          }}
          class={'object-contain w-full h-full md:row-start-1 md:row-span-6 md:col-start-7 md:col-span-6 rounded-md'}
          alt="Brand persona from Loumarc Signs Brand Guide"
          formats={['avif', 'webp']}
          loading="lazy"
        />
        <Picture
          src={archetype}
          widths={[300, 800, archetype.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, ${archetype.width}px`}
          pictureAttributes={{
            class:
              'object-contain w-full h-full md:row-start-7 md:row-span-6 md:col-start-7 md:col-span-6 rounded-md',
          }}
          class={'object-contain w-full h-full md:row-start-7 md:row-span-6 md:col-start-7 md:col-span-6 rounded-md'}
          alt="Brand persona from Loumarc Signs Brand Guide"
          formats={['avif', 'webp']}
          loading="lazy"
        />
        <div
          class="md:row-start-13 md:row-span-4 md:col-start-3 md:col-span-7 box flow flow-space-xs w-fit z-10 text-magenta-vivid-800 bg-magenta-100 border-magenta-700 border-solid border-b-2 border-x-0 border-t-0 rounded-md"
        >
          <p>
            The impact was significant and measurable. The <a
              href="https://loumarcsigns.com/"
              target="_blank">new website</a
            > increased both the quality and volume of lead generation. The elevated
            brand image resonated with their target audience, attracting more high-end
            clients and projects. Most importantly, Loumarc Signs now had a brand
            that truly reflected their expertise, craftsmanship, and position in
            the market.
          </p>
          <p>
            This project exemplifies how a comprehensive rebranding effort,
            rooted in deep strategic thinking and executed with attention to
            detail, can transform a business. From discovery to implementation,
            every step was taken with Loumarc Signs' unique identity and
            aspirations in mind, resulting in a brand that not only looks great
            but also drives tangible business results.
          </p>
        </div>
      </div>
    </div>
    <div class="region wrapper">
      <Picture
        src={brandContext}
        widths={[300, 800, 2000, brandContext.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${brandContext.width}px`}
        pictureAttributes={{
          class: 'object-contain h-full w-full rounded-md',
        }}
        class={'object-contain h-full w-full rounded-md'}
        alt="Logo in context for client presentation"
        formats={['avif', 'webp']}
        loading="lazy"
      />
    </div>
  </section>
</InnerLayout>
