---
import InnerLayout from '../../layouts/InnerLayout.astro';
import { Picture } from 'astro:assets';

import businessOwner from '@assets//roll-by-adp/business-owner-smiling-on-call-roll-by-adp.jpg';
import largeSketch from '@assets//roll-by-adp/accordion-scan-sketch-whiteboarding-modified.jpg';
import accordionSketch from '@assets//roll-by-adp/accordionlist-scan-sketch-modified.jpg';
import finalMock from '@assets//roll-by-adp/payroll-run-hi-fidelity@2x.png';
import rollVideo from '@assets//roll-by-adp/payroll-run-video.mp4';
import RollPortfolioGrid from '@components/RollPortfolioGrid.astro';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<InnerLayout
  subtitle="Revamping Roll by ADP, I transformed complex payroll processes into an intuitive mobile experience, focusing on simplifying payroll HCM and HR management for small business owners."
  meta={{
    title: 'Roll by ADP',
    description:
      'Case study of Roll by ADP from the portfolio of Frank Stallone',
    canonicalURL: canonicalURL.href,
    image: `/media/portfolio/roll-og-image.png`,
  }}
>
  <section class="flow" id="main">
    <div class="region">
      <div class="wrapper grid" data-layout="twelfths">
        <div
          class="row-start-1 row-span-5 col-span-12 md:col-span-7 md:col-start-1 lg:col-span-6 lg:col-start-1 box flow flow-space-xs border-solid border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-100 border-blue-700 z-10"
        >
          <h2 class="mt-zero">The Challenge</h2>
          <p>
            As I stepped into the ADP Innovation Labs, I was faced with a
            daunting task: transforming the complexity of traditional payroll
            systems into a streamlined, mobile-first solution for small business
            owners. The goal was ambitious &mdash; to make payroll management as
            simple as sending a text message.
          </p>
          <p>
            The challenge lay in the intricate web of employee attributes:
            payment methods, mid-cycle raises, work hours, overtime, sick time -
            all with varying logic determined by company, location, and
            organizational structure. How could we distill this complexity into
            an intuitive, user-friendly application that would seamlessly fit
            into the daily lives of busy entrepreneurs?
          </p>
        </div>
        <Picture
          src={businessOwner}
          widths={[300, 800, 2000, businessOwner.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${businessOwner.width}px`}
          pictureAttributes={{
            class:
              'object-contain h-full w-full row-span-6 md:row-start-1 md:row-span-6 col-span-12 md:col-span-8 md:col-start-6',
          }}
          class={'object-contain h-full w-full row-span-6 md:row-start-1 md:row-span-6 col-span-12 md:col-span-8 md:col-start-6'}
          alt="Small business owner smiling on a call with a customer"
          formats={['avif', 'webp']}
          loading="lazy"
        />
      </div>
    </div>
    <div class="wrapper grid" data-layout="twelfths">
      <div
        class="row-start-3 row-span-4 col-start-1 col-span-12 md:row-span-4 md:col-span-8 md:row-start-2 md:col-start-4 box flow flow-space-xs w-fit border-solid border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-100 border-blue-700 z-10"
      >
        <h2 class="mt-zero">Discovery and Collaboration</h2>
        <p>
          Our journey began in the main meeting room, surrounded by a diverse
          team with over 40 years of combined payroll and HCM knowledge. From
          our SVP of Innovation to a few Product Owners, our Chief Architect,
          Content designer, QA Lead, and Backend Engineers, every voice at the
          table held value.
        </p>
        <p>
          I kicked off our discovery session by probing into the vast array of
          employee attributes. As the list grew, it became clear that we needed
          to narrow our focus even more. I asked and wrote down all the payroll
          workflows we needed to design for and collectively decided to scope
          our initial discussion to a single, critical flow: a manager managing
          employee hours. Once we were happy with the design for this workflow,
          we could come back to pressure test it on the other workflows.
        </p>
      </div>
      <Picture
        src={largeSketch}
        widths={[300, 800, 2000, largeSketch.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${largeSketch.width}px`}
        pictureAttributes={{
          class:
            'object-contain h-full w-full row-start-1 row-span-5 col-start-1 col-span-12 md:row-start-1 md:row-span-10 md:col-span-8 md:col-start-1',
        }}
        class={'object-contain h-full w-full row-start-1 row-span-5 col-start-1 col-span-12 md:row-start-1 md:row-span-10 md:col-span-8 md:col-start-1'}
        alt="Small business owner smiling on a call with a customer"
        formats={['avif', 'webp']}
        loading="lazy"
      />
      <Picture
        src={finalMock}
        widths={[300, 800, finalMock.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, ${finalMock.width}px`}
        pictureAttributes={{
          class:
            'object-contain h-full w-full row-start-7 col-start-1 col-span-12 md:row-start-6 md:row-span-6 md:col-span-6 md:col-start-6',
        }}
        class={'object-contain h-full w-full row-start-7 col-start-1 col-span-12 md:row-start-6 md:row-span-6 md:col-span-6 md:col-start-6'}
        alt="Small business owner smiling on a call with a customer"
        formats={['avif', 'webp']}
        loading="lazy"
      />
    </div>

    <div class="region bg-blue-1000">
      <div class="wrapper grid" data-layout="twelfths">
        <div
          class="row-start-1 col-start-1 row-span-12 col-span-12 md:row-start-1 md:row-span-2 md:col-start-1 md:col-span-6 box flow flow-space-xs border-solid border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-100 border-blue-700"
        >
          <h2 class="mt-zero">Ideation and Design</h2>
          <p>
            Armed with insights from our SMEs, I started sketching on the
            whiteboard, noting down attributes. It quickly became apparent that
            some attributes were non-essential for our core functionality. I
            could see we were essentially aiming for a list of employees that
            managers could quickly scroll through, add hours to, and submit for
            payroll &mdash; with minimal friction and cognitive load.
          </p>
          <p>
            As I absorbed the requirements, a solution began to take shape in my
            mind. I saw how an accordion design pattern could elegantly solve
            our problem. I sketched out an example on the whiteboard, explaining
            how this pattern could hide less common attributes like overtime,
            bonuses, and payment types, while keeping the interface clean and
            accessible.
          </p>
          <p>
            The team's enthusiasm grew as they saw the concept come to life. We
            then dove into discussing the hierarchy of the main attributes. I
            guided the team through the importance of visual hierarchy, pressing
            them to be judicious about what becomes a main attribute to prevent
            cognitive overload.
          </p>
          <p>
            Finally we had consensus on a wireframe. We came back to the list of
            other workflows and proceeded to contemplate if each could be
            accomplished with this initial design idea.
          </p>
        </div>
        <div
          class="row-start-13 col-start-1 row-span-12 col-span-12 md:row-start-1 md:row-span-2 md:col-start-7 md:col-span-7 box flow flow-space-xs w-fit border-solid border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-100 border-blue-700"
        >
          <h2 class="mt-zero">From Wireframes to High-Fidelity Mockups</h2>
          <p>
            With an approved wireframe in hand, I moved to create high-fidelity
            mockups. This step was crucial in pushing the design limits and
            considering edge cases. I meticulously laid out the accordion
            panels, designing an area to signal additional actions to users and
            arranging the main attributes.
          </p>
          <p>
            Throughout this process, I maintained an open dialogue with our
            backend developers, clarifying data structures and contemplating how
            to make these panel layouts pliable with flexbox. Working closely
            with the stakeholders, we explored various scenarios: How many
            decimal places might we encounter? What about different pay cycles?
            How would the design hold up when translated to German?
          </p>
          <p>
            Every decision was made with accessibility in mind, considering
            color contrast ratios, font sizes, and readability. We stripped away
            unnecessary design elements, keeping the user focused
          </p>on their task.
        </div>
      </div>
    </div>
    <div class="region wrapper">
      <RollPortfolioGrid />
    </div>
    <div class="region wrapper flow prose">
      <div class="flex flex-col flow md:grid" data-layout="twelfths">
        <div
          class="md:row-start-1 md:row-span-4 md:col-start-1 md:col-span-6 box flow flow-space-xs w-fit z-10 text-blue-vivid-800 bg-blue-100 border-blue-700 border-solid border-b-2 border-x-0 border-t-0"
        >
          <h2 class="mt-zero">Building the React Component</h2>
          <p>
            With approved mockups in hand, it was time to bring our designs to
            life. I fired up Storybook and began building out compound React
            components for our component library. Flexbox became my layout tool
            of choice, offering the flexibility (no pun intended) we needed for
            various screen sizes and orientations.
          </p>
          <p>
            Collaboration with our backend engineers was key during this phase.
            We discussed data structures extensively to ensure our conversation
            authors could easily display all the required information correctly.
            Being the only UX/UI Designer on the team, ensuring a balance
            between giving the backend team full control over the layout and
            keeping the fidelity of the design output was carefully considered.
            Ultimately, we found an elegant solution that maintained design
            integrity while allowing for necessary flexibility.
          </p>
        </div>
        <Picture
          src={accordionSketch}
          widths={[300, 800, accordionSketch.width]}
          sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, ${accordionSketch.width}px`}
          pictureAttributes={{
            class:
              'object-contain h-full w-full md:row-start-1 md:row-span-3 md:col-span-7 md:col-start-7',
          }}
          class={'object-contain h-full w-full md:row-start-1 md:row-span-3 md:col-span-7 md:col-start-7'}
          alt="Sketches of the main accordion panel with variations"
          formats={['avif', 'webp']}
          loading="lazy"
        />
        <div
          class="md:row-start-5 md:row-span-3 md:col-start-1 md:col-span-6 box flow flow-space-xs w-fit z-10 text-blue-vivid-800 bg-blue-100 border-blue-700 border-solid border-b-2 border-x-0 border-t-0"
        >
          <h2 class="mt-zero">Refinement and Implementation</h2>

          <p>
            As we approached the finish line, I shipped a beta version of our
            component library featuring the new AccordionList component. This
            allowed our backend developers to start integrating it into the app
            on their local build environments.
          </p>
          <p>
            This phase was essential for identifying what worked well and what
            needed modification. It gave me the opportunity to clean up code,
            finalize lower-priority functionality, write tests, and
            comprehensive documentation. Throughout this process, we continually
            referred back to our original goals, ensuring that we were truly
            simplifying the payroll process for small business owners.
          </p>
        </div>
        <video
          autoplay
          playsinline
          loop
          muted
          class="w-full h-full md:row-start-4 md:row-span-4 md:col-start-7 md:col-span-6"
        >
          <source src={rollVideo} type="video/mp4" />
          Sorry, your browser doesn't support embedded videos. <a
            href={rollVideo}>Download the video instead</a
          >.
        </video>
        <div
          class="md:row-start-8 md:row-span-4 md:col-start-3 md:col-span-7 box flow flow-space-xs w-fit z-10 text-blue-vivid-800 bg-blue-100 border-blue-700 border-solid border-b-2 border-x-0 border-t-0"
        >
          <h3>The Results</h3>
          <p>
            The outcome of our efforts was a robust, accessible, and intuitive
            design solution that streamlined the payroll management process. We
            had successfully transformed a complex task into an experience as
            simple as engaging with a chat interface.
          </p>
          <p>
            By simplifying payroll management into an easy, mobile-first
            experience, we helped Roll by ADP set a new standard for
            user-centric design in financial applications. The feedback from
            customers using the platform has been overwhelmingly positive,
            confirming that we didn't just make payroll easier &mdash; we
            transformed it into a task that could be handled on the go, with
            just a few taps on a phone. The principal goal of Roll by ADP was to
            be invisible. On average, our customers are only in our app for 30
            seconds a week.
          </p>
          <p>
            This project represents how thoughtful user experience, coupled with
            cutting-edge technology stacks, can revolutionize even the most
            complex business processes. From discovery to implementation, every
            step was taken with the end-user in mind, resulting in a solution
            that truly meets the needs of small business owners in today's
            fast-paced, mobile-first world.
          </p>
        </div>
      </div>
    </div>
  </section>
</InnerLayout>
